@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.titulo {
  background: linear-gradient(90deg, rgba(163, 182, 117, 1), rgba(72, 80, 51, 1));
  width: 40%;
  
}

.botón-principal {
 background-color: #84994F; 
 border-radius: 20px;
 display: flex;
  width: 264px;
  height: 150px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-bottom: 50px;
  margin-top: 20px;
}


h1 {
  font-family: 'montserrat alternates';
  color: rgba(102, 76, 67, 1) ;
  size: 61px;
  line-height: 73.20px;
  font-weight: 700;
}

h4 {
  color: #664C43;
  font-size: 31px;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: 37.20px;
}

h5 {
  display: flex;
  width: 951px;
  height: 209px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 30px */
}